<nav class="navbar navbar-expand-lg">
  <a class="navbar-main" href="/">FlipIt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-tab" href="/">HOME
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-tab" href="team">Dev Team
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-tab dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sign In / Register
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="login">Sign In</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="register">Create New Account</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-tab" href="user/2" tabindex="-1" aria-disabled="true">My Account</a>
      </li>
    </ul>
  </div>
</nav>