<nav class="navbar">
  <ul>
    <li class="nav-logo">
      <a href="/">FlipIt</a> 
    </li>
    <div class="nav-links">
      <li>
        <a href="/team">Dev Team
        </a>
      </li>
      {{#if user.id}}
      <li>
        <a href="/user" tabindex="-1" aria-disabled="true">My Account</a>
      </li>
      {{else}}
      <li>
        <a href="/login" tabindex="-1" aria-disabled="true">Login</a>
      </li>
      <li>
        <a href="/register" tabindex="-1" aria-disabled="true">Register</a>
      </li>
    </div>
    {{/if}}
  </ul>
</nav>