  {{> navbar }}
  <div class="container-sm body-container">
    <h1 class="header-font">Welcome to FlipIt</h1>
    <!-- <img src="Assets/Images/Headshots/linkedin-headshot.jpg" alt="Professional-headshot" class="float-left main-image"/> -->
      <!-- <h5 class="bio-body">Professional Life</h5>
    <p class="bio-body">
      After graduating from UC Berkeley, I joined Enterprise Rent-A-Car in the Fall of
      that year, where I rose through the ranks of their Management Trainee program and ultimately managed rental
      operations at three major airports on the US west coast (San Francisco, Oakland, and Sea-Tac International airports) in addition
      to a few local inner-city branches. Managing daily operations, sales, and customer service at each location helped
      me develop my sales and service skills, as well as my business acumen. After four years of service at Enterprise,
      I moved on to work for a home building/land development company in Bellevue, WA in the role of Land Acquistion
      Specialist. The COVID-19 crisis of early 2020 has created this undesirable current scenario, but has provided my
      the perfect opportunity to join the University of Washington Coding Bootcamp with <a href="https://bootcampspot.com/"
      target="_blank"><u>BootCampSpot</u></a> and pursue a career in software/web development. I look forward to perfecting
      my web development skills and create content that I am proud to showcase. Check out some of my creations in my <a href="https://mlshenk.github.io/homework-2/portfolio.html">Portfolio</a>!
    </p>
    <br>
    <h5 class="bio-body">Early Life & College</h5>
    <p class="bio-body">
      I grew up in San Francisco, CA for twenty-six years before moving to Seattle, WA in August 2017. Sports have always been a big part of my life. I played baseball from
      age 8 through my sophomore year of high school. At the beginning of that year, I was still recovering from
      an injury sustained during my freshman year, so I decided to join a club rowing team in San Francisco. I
      ultimately competed in competitive rowing for three years of high school and was recruited to row at UC Berkeley, where I graduated in in Spring 2014. 
      <br>Go Bears!🐻 
    </p> -->
  </div>