  <div class="card">
    <h1 class="header-font">Log In</h1>
    <h3>Sign in to access your study stack!</h3>
    <form id="loginForm">
      <label for="loginUsername">Username</label>
      <input type="text" class="form-control" id="loginUsername" placeholder="username123">

      <label for="loginPassword">Password</label>
      <input type="password" class="form-control" id="loginPassword" placeholder="P*******">

      <button type="submit" id="loginSubmit">Login</button>
    </form>
    <hr>
    <h3>New to FlipIt? Click below to create your account.</h3>
    <a href="/register">
      <button type="submit" class="button">Create Account</button>
    </a>
  </div> 