  {{> navbar }}
  <div class="container-sm form-container">
    <h1 class="header-font">Log In</h1>
    <form class="my-2 my-lg-0" id="contact-info">
      <h3>Sign in to access your study stack!</h3>
      <form class="my-2 my-lg-0">
        <div class="form-text">
          <br>
          <label>Your Username:</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="username123">
        </div>
        <br>
        <div class="form-text">
          <label>Password:</label>
          <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="P*******">
        </div>
        <br>
        <button type="submit" class="btn btn-submit btn-sm float-center">Login</button>
        <hr>
        <h3>New to FlipIt? Click below to create your account.</h3>
        <button type="submit" class="btn btn-submit btn-sm float-center" formaction="create-acct.html">Create New Account</button>
      </form>
  </div> 