  <div class="card">
    <h2>Hello, {{ user.username }}</h2>
    <p>Joined: {{ user.createdAt }}</p>
    <hr>
    <h3>Saved Decks:</h3>
    {{#each data}}
      {{>deckContainer name=this.deck.name creatorUn=this.creator.username creatorId=this.creator.id userId=this.userId deckId=this.deck.id count=this.deck.cardCount date=this.deck.createdAt}}
    {{/each}}
  </div>
