  <div class="card">
    <h1>Profile Page</h1>
    <h2>Hello, {{ user.first_name }}</h2>
    <h2>Change number in URL and refresh page to change name displayed. Later do this dynamically.</h2>
    <h2>Our data is saved in users 1-4 (from seeds.js)</h2>

    {{#each data}}
      {{>deckContainer name=this.deck.name creator=this.creator.username id=this.deck.id count=this.deck.cardCount date=this.deck.createdAt}}
    {{/each}}
  </div>
