  {{> navbar}}
<div class="container-sm form-container">
    <h1 class="header-font">Create New Account</h1>
    <form class="my-2 my-lg-0" id="contact-info">
      <h3>Create your username to begin studying and build your knowledge!</h3>
    <form class="my-2 my-lg-0">
      <div class="form-text">
        <br>
        <label>Your Name: </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="e.g. John Smith">
    </div>
    <div class="form-text">
      <label>Your Username:</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="username123">
    </div>
    <hr>
    <div class="form-text">
        <label>Email:</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="example@gmail.com">
      </div>
    <div class="form-text">
        <label for="pass">Your Password (8 character minimum):</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="P*******">
      </div>
      <br>
        <button type="submit" class="btn btn-submit btn-sm float-center">Create Account</button>
      <hr>
      <h3>Already a Flipper? Sign into your account.</h3>
      <button type="submit" class="btn btn-submit btn-sm float-center"formaction="login.html">Sign In</button>
    </form>
</div>