<div class="card">
    <h1 class="header-font">Create New Account</h1>
    <h3>Create your username to begin studying and build your knowledge!</h3>
    <form id="registerForm">
      <div class="form-section emulated-flex-gap">
        <div class="form-input">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" id="first_name" placeholder="e.g. John">
        </div>
        <div class="form-input">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" id="last_name" placeholder="e.g. Smith"> 
        </div>
      </div>

      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="example@email.com">

      <label for="username">Username*</label>
      <input type="text" class="form-control" id="username" placeholder="username123">


      <label for="password">Password*</label>
      <input type="password" class="form-control" id="password">

      <label for="rePassword">Reenter password*</label>
      <input type="password" class="form-control" id="rePassword">

      <button type="submit" class="button">Create Account</button>
    </form>
    <hr>
    <h3>Already a Flipper? Sign into your account.</h3>
    <a href="/login">
      <button type="submit" class="button">Sign In</button>
    </a>
</div>