  <div class="card">
    <h1>Search results page</h1>
    {{#each data}}
      <h2>{{this.deck.name}}</h2>
      <h4>Created by: {{this.creator.username}}</h4>
      <span>
        <a href="/study">
          <button class="button">Study</button>
        </a>
        <a href="/deck/{{this.deck.id}}">
          <button class="button">View</button>
        </a>
        <a href="/">
          <button class="button">Delete</button>
        </a>
      </span>
    {{/each}}
  </div>
