<div class="card">

  <div class="studycard">
    <div class="front">
      Front content

      <h2 id="question"></h2>
    </div>
    <div class="back">
      Back content
      <h2 id="answer"></h2>
    </div>
  </div>
  <button id="previous">Previous Card</button>
  <button id="next">Next Card</button>


</div>