<div class="card">
  <h1>Dev team page</h1>
  <div>
    <div>
      <h3 class="bio-body">Andrew Bergstrom</h3>
    </div>
    <div>
      <img src="/assets/images/andrew-profile-pic.jpg" class="headshot">
      <p>
        Hey I’m Andrew! After working in Alaska and Hawaii for the last four years as an expedition guide, I am looking
        to change careers and dive into the world of web development. Currently enrolled in a Full Stack Web Development
        Program through the University of Washington and graduating August 2020. Some things I’m passionate about are:
        the environment, photography, and music! Learn more about Andrew by visiting his <a
        href=" https://andrewbergstrom.github.io/hw_portfolio/" target="_blank">portfolio</a> and
        <a href=" https://github.com/AndrewBergstrom/hw_portfolio" target="blank"> github.</a>
      </p>
    </div>
    <br>
    <div>
      <div>
        <h3>Hannibal Wyman</h3>
      </div>
      <img src="/assets/images/HW.png" class="headshot">
    </div>
    <p>
      Hannibal worked with Mike Shenk to create the front end design of this webpage!
    </p>
  </div>
<br>
<div>
  <div>
    <h3>Derek Watson</h3>
  </div>
  <div>
    {{!-- Derek's headshot --}}
    <img src="/assets/images/derek-headshot.jpg" class="headshot">
    <p>
      Derek worked with Andrew on the backend of this application. Their work was invaluable in creating the functionality of this app. You can learn more about Derek by visiting his <a
        href="https://derek-watson14.github.io/ResponsivePortfolio/index.html " target="_blank">portfolio</a>. Cheers!
    </p>
  </div>
</div>
<br>
<div>
  <h3>Mike Shenk</h3>
</div>
<div>
  <img src="/assets/images/mikeshenk-linkedin-headshot.jpg" class="headshot">
  <p>
    Mike is a people-oriented, aspiring full-stack software developer with a background in sales, management, and customer service. Currently honing web development skills for future opportunities! Learn more about Mike by visiting his <a href="https://mlshenk.github.io/professional-portfolio/"
      target="_blank">portfolio page</a>.
  </p>
</div>
</div>