body {
  background-color: #EE7575;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23ca6363' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}
p {
  color: white;
}
.body-container {
  background-color: #041E42;
  margin: 3% auto;
  padding: 2.5%;
  border: 5px solid #EFB21E;
  border-style: double;
  border-radius: 15px;
}
.navbar {
  background-color: #041E42;
  font-family: 'Anton', sans-serif;
  border-bottom: 5px solid #EFB21E;
}
.navbar-toggler {
 border-color: #EFB21E;
 border-width: 2px;
 border-style: double;
}
.navbar-main {
  background-color: #041E42;
  color:#EFB21E;
  font-size: 40px;
  padding: 0 10px 0 10px;
}
.nav-tab {
  background-color:#EFB21E;
  color:#041E42;
  font-size: 20px;
  padding: 0 10px 0 10px;
  border: 5px solid #041E42;
  border-style: double;
}
.dropdown-menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.header-font {
  font-family: 'Anton', sans-serif;
  font-size: 55px;
  color: #EFB21E;
  text-decoration:  underline;
}
.bio-body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #FFC72C;
  font-size: 24px;
}
.footer-header {
  font-size: 17px;
}
.footerbar {
  display: flex;
  color: #041E42;
  background-color: #EFB21E;
  border-top: 10px solid #041E42;
  border-top-style: double;
  max-height: 100%;
  width: 100%;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  padding: 15px;

  bottom: 0;
}
h5 {
  font-style: italic;
  text-decoration: underline;
}
p.bio-body a {
  color:#EFB21E;
}
img {
  padding: 15px;
  height: 35%;
  width: 35%;
  border-radius: 20px;
}
.portfolio-img{
  height: 50%;
  width: 50%;
}
.img-fluid {
  border-radius: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
}
/* The following CSS attributes apply only to the "contact.html" page. */
.form-container {
  background: linear-gradient(120deg, #041E42 35%, #EFB21E 100%);
  padding: 2.5%;
   margin: 3% auto;
   border: 5px solid #EFB21E;
   border-style: double;
   border-radius: 15px;
}
.form-text {
  color: white;
  font-size: large;
}
.btn-submit {
  background-color: #041E42;
  color: #EFB21E;
  border: 2px solid;
}
.btn-submit:hover {
  background-color: #EFB21E;;
  border: 1px solid grey;
  opacity: 1;
}
textarea {
  resize: none;
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.Resume {
  background: green;
  color: white;
}

.github {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.presentation {
  text-align: center;
  color: white;
  font-size: 100%;
  font-family: 'Anton', sans-serif;
}

#contact-info h1{
  color: white;

}
#contact-info h3{
  color: white;
  font-size: 24px;
  opacity: 75%;
}

footer p {
  color: #041E42;
}
.portfolio-header{
  font-size: 45px;
}
.deployed{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#js-quiz {

  box-shadow: 10px 10px 20px #EFB21E;

}